* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(240, 230, 146);
  }
  
  a {
    text-decoration: none;
  }
  header {
    height: 70px;
    width: 100%;
    background-color: rgba(211, 209, 89, 0.9); 
    position :fixed;
    top: 0;
    z-index: 10;
  }
  .heading-kiri p {
    color: white;
    font-size: 25px;
    float: right;
    font-family:'Pacifico', cursive;
    margin-bottom: 10px;
	margin-top: 10px;
    font-family:'Pacifico', cursive
}
  
  .clear {
    clear: left;
  }
  
  .heading {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .heading-kiri {
    float: left;
  }
  
  .heading-kanan {
    float: right;
    margin-right: -25px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
  }
  .heading-kanan a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .heading-kanan a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .opening img{
    width: 100%;
    opacity: 0.8;
  }
  .text{
    text-align: center;
    font-family: 'Chewy', cursive;
    color:rgb(27, 14, 14);
    font-size: 20px;
  }
  .text h2{
    font-family: 'Patrick Hand', cursive;
  }
  .lesson {
    float: left;
    width: 25%;
    text-align:center;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
	border: 3px solid rgb(255, 255, 255);
  }
  
  .lesson-icon {
    position: relative;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
    
  }
  .text-contents{
    font-family: 'Patrick Hand', cursive;
    color:rgb(27, 14, 14);
  }
  footer{
    font-family: 'Chewy', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
    clear: left;
    background-color: rgba(211, 209, 89, 0.9);
    margin-top: 100px;
    margin-bottom: 30px;
  }
 
